
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap -->
    <link th:href="@{webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <link th:href="@{/customCSS.css}" rel="stylesheet"/>

    <title>Job | Notes</title>
</head>

<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Job Notes</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="th:@{/}">Home</a></li>
                <li><a href="#about">View All</a></li>
                <li><a href="#contact">New Job</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">View by Job <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Job 1</a></li>
                        <li><a href="#">Job 2</a></li>
                        <li><a href="#">Job 3</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container theme-showcase" role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Benzenberg Cabinets Corporation</h1>
        <p>Collection of job notes, add, remove of modify.</p>
    </div>
</div>


<div class="page-header">
    <h1>Current Notes</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Job Name</th>
                <th>Note</th>
                <th>Date Added</th>
                <th>Status</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="note : ${notes}">
                <td th:text="${note.jobName}">Job Name</td>
                <td th:text="${note.note}">Note</td>
                <td th:text="${note.dateAdded}">Date Added</td>
                <td th:text="${note.status}"></td>
                <td><a th:href="@{'/edit/' + ${note.id}}"><span class="glyphicon glyphicon-pencil" id="pencil"></span></a></td>
                <td><a th:href="@{'/delete/' + ${note.id}}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>




<!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src="webjars/bootstrap/3.3.6/js/docs.min.js"></script>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>

</html>